body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #121212; /* Dark background for dark mode */
    color: #e0e0e0; /* Light text for better readability on dark background */
  }
  .container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    background: #1e1e1e; /* Slightly lighter than the body background for contrast */
    border-radius: 8px; /* Optional: Adds rounded corners for aesthetic */
  }
  h1, h2 {
    color: #ffffff; /* White color for headings */
  }
  .tagline {
    font-size: 1.2em;
    font-style:italic;
    color: #bbbbbb; /* Slightly dimmer than the text color for subtlety */
    margin-top: -10px;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  li {
    margin-bottom: 10px;
    color: #e0e0e0; /* Ensuring list items are also light colored */
  }
  a {
    color: #bb86fc; /* Light purple color for links to stand out */
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  img {
    padding: 0px 20px 10px 0;
    float:left;
  }
  footer {
    margin-top: 20px;
    text-align: center;
    font-size: 0.8em;
    color: #666;
  }