<section id="about">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
              <h2 class="section-heading">About me</h2>
              <hr class="primary">
              <p><img src="img/aarne_t.jpg" alt="Aarne" width="200"></p> 
              <p>I am a language technology researcher and AI consultant with expertise in language understanding, reasoning, and large language models (LLM). 
                Currently, work as a Data Science and Machine Learning Senior Manager at Accenture, where I leverage my 20 years of experience in research, 
                software engineering, consulting, and leadership to drive technological advancements and to help organisations unlock the value of AI in real world applications.</p>
              <p>I'm also a Visiting Scholar in Language Technology at the University of Helsinki. My research primarily centres around natural language understanding, reasoning, and natural language inference, employing machine learning techniques to address these challenges. 
                I am particularly fascinated by the intricacies of language understanding, the development of AI models to represent it, and the methodologies for evaluating these models.</p>
              <p>My educational background includes a PhD in Language Technology from University of Helsinki, an MSc in Computational Linguistics and Formal Grammar from King's College London, 
                which I completed in 2007, and a BSc in Philosophy from the London School of Economics, obtained in 2005.</p>
         </div>
    <div class="col-lg-8 col-lg-offset-2 text-center">
              <a href="#contact" class="btn btn-primary btn-xl page-scroll">Contact me!</a>
    </div>
      </div>
  </div>
</section>
