<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About me</h2>
                <hr class="primary">
                  <p><img src="img/aarne.jpg" align="middle" width="300"></p>
                    <p class="text-muted">
                      I'm a Visiting Scholar in Language Technology at 
                      <a href="https://blogs.helsinki.fi/language-technology/">University of Helsinki</a>. I also work as a Head of Technology at <a href="https://silo.ai">SiloGen</a>.
                      I have almost 20 years of experience in research, software engineering, consulting and leadership.
                  </p>
            </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="#contact" class="btn btn-primary btn-xl page-scroll">Contact me!</a>
      </div>
        </div>
    </div>
</section>
