<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Aarne Talman, PhD</h1>
            <hr>
            <p>
               I'm a language technology researcher and consultant working on LLMs, language understanding and reasoning
            </p> 
	        <p>
	            <a href="https://scholar.google.com/citations?user=Vhq5-s0AAAAJ"><i class="fa fa-graduation-cap fa-2x wow bounceIn text-light"></i></a>&nbsp;
                <a href="https://github.com/aarnetalman"><i class="fa-brands fa-github fa-2x wow bounceIn text-light"></i></a>&nbsp;
                <a href="https://x.com/aarnetalman"><i class="fa-brands fa-x-twitter fa-2x wow bounceIn text-light"></i></a>&nbsp;
                <a href="https://linkedin.com/in/talman"><i class="fa-brands fa-linkedin fa-2x wow bounceIn text-light"></i></a>
            </p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Learn more</a>
        </div>
    </div>
</header>
