<section class="bg-primary" id="research">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Research</h2>
                <hr class="light">
                <p>My research focuses on natural language understanding (NLU), reasoning and natural language inference 
                    using machine learning. I’m interested in what understanding language consists of, 
                    how it can be modelled in AI and how these models should be evaluated. I have worked on a wide variety of different 
                    research topics in industry research labs during my career.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="research-box">
                    <i class="fa-regular fa-4x fa-question wow bounceIn text-light"></i>
                    <h3>Natural Language Understanding</h3>
                    <p class="text-faded">I have developed new NLU methods and models used in production by millions of end users. I have also studied the 
                        limitations of various benchmarks and datasets in NLU.</p>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="research-box">
                    <i class="fa-regular fa-4x fa-comment wow bounceIn text-light"></i>
                    <h3>Speech Recognition and Prosody</h3>
                    <p class="text-faded">I have conducted research in automatic speech recognition and 
                        prosody. I have developed speech recognition models used in production by millions of end users.</p>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="research-box">
                    <i class="fa-regular fa-4x fa-language wow bounceIn text-light"></i>
                    <h3>Neural Machine Translation</h3>
                    <p class="text-faded">I have developed machine translation models and state-of-the-art neural machine translation systems 
                        used in production by millions of end users.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
