<section class="bg-primary" id="resources">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h3 class="section-heading">Software and Data</h3>
                <hr class="light">
		Visit my <a href="https://github.com/aarnetalman">GitHub profile</a> for a more complete collection of software and data. 
                <h4>Software</h4>
            </div>
                <div class="col-lg-8 col-lg-offset-2 text-left">
                  <ol>
                    <li><b>
                        <a href="https://github.com/Helsinki-NLP/uncertainty-aware-nli">Uncertainty-Aware NLI with SWAG</a></b>: Code for our 2023 NoDaLiDa paper.
                        <ul>
                            <li>License: MIT</li>
                            <li><a href="https://openreview.net/pdf?id=uygq9_N7TL">Paper</a></li>
                        </ul>
                    </li>
                    <li><b>
                        <a href="https://github.com/Helsinki-NLP/nlu-dataset-diagnostics">NLU Dataset Diagnostics</a></b>: Scripts for our 2022 *SEM paper.
                        <ul>
                            <li>License: MIT</li>
                            <li><a href="https://aclanthology.org/2022.starsem-1.20.pdf">Paper</a></li>
                        </ul>
                    </li>
                    <li><b>
                        <a href="https://github.com/Helsinki-NLP/nli-data-sanity-check">NLI Data Sanity Check</a></b>: Data and scripts for our 2021 NoDaLiDa paper.
                        <ul>
                            <li>License: MIT</li>
                            <li><a href="https://www.aclweb.org/anthology/2021.nodalida-main.28.pdf">Paper</a></li>
                        </ul>
                    </li>
                    <li><b><a href="https://github.com/Helsinki-NLP/prosody">Prosody</a></b>: A system for predicting prosodic prominence from written text.
                        <ul>
                            <li>License: MIT</li>
                            <li><a href="https://aclweb.org/anthology/W19-6129.pdf">Paper</a></li>
                        </ul>
                    </li>
                    <li><b><a href="https://github.com/Helsinki-NLP/HBMP">Natural Language Inference</a></b>: Natural language inference system written in Python and PyTorch implementing the HBMP sentence encoder.
                        <ul>
                            <li>License: MIT</li>
                            <li><a href="https://www.cambridge.org/core/journals/natural-language-engineering/article/sentence-embeddings-in-nli-with-iterative-refinement-encoders/AC811644D52446E414333B20FEACE00F">Paper</a></li>
                        </ul>
                    </li>
                </ol>
              </div>
              <div class="col-lg-8 col-lg-offset-2 text-center">
                <h4>Data</h4>
              </div>
                <div class="col-lg-8 col-lg-offset-2 text-left">
                  <ol>
                    <li><b><a href="https://github.com/Helsinki-NLP/prosody">Helsinki Prosody Corpus</a></b>: The prosody corpus contains automatically generated, high quality prosodic annotations for the LibriTTS corpus (Zen et al. 2019) using the Continuous Wavelet Transform Annotation method (Suni et al. 2017).
                        <ul>
                            <li>Language: English</li>
                            <li>License: CC BY 4.0</li>
                            <li><a href="https://aclweb.org/anthology/W19-6129.pdf">Paper</a></li>
                        </ul>
                    </li>
                </ol>
              </div>
            </div>
        </div>
    </div>
</section>
