<section id="teaching">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h3 class="section-heading">Teaching</h3>
                <hr class="primary">
                <h4>University of Helsinki</h4>
            </div>
                <div class="col-lg-8 col-lg-offset-2 text-left">
                  <ul>
                    <li>Instructor: <a title="Large Language Models and Generative AI for NLP" href="https://studies.helsinki.fi/courses/course-implementation/hy-opt-cur-2425-12ceef6e-ec52-4d28-a267-06c9f2149328/LDA-T312">Large Language Models and Generative AI for NLP</a>. Autumn 2024.</li>
                    <li>Instructor: <a title="Natural Language Understanding and Representation Learning" href="https://courses.helsinki.fi/en/lda-t3115/130806390">Natural Language Understanding and Representation Learning</a>. Spring 2020.</li>

                    <li>Reading Group: Representation Learning for NLU reading group. Autumn 2019.</li>
                    <li>Teaching Assistant: <a title="Machine Learning for Linguists"
                            href="https://weboodi.helsinki.fi/hy/opintjakstied.jsp?OpinKohd=117878782&amp;Kieli=6">KIK-LG210 Machine Learning for Linguists</a>. Spring 2019.</li>
                    <li>Teaching Assistant: <a title="A Practical Introduction to Modern Neural Machine Translation"
                            href="https://courses.helsinki.fi/en/lda-t3115/128148821">LDA-T3115
                            A Practical Introduction to Modern Neural Machine Translation</a>. Spring 2019.</li>
            
                </ul>
              </div>
              <div class="col-lg-8 col-lg-offset-2 text-center">
                <h4>Other</h4>
              </div>
                <div class="col-lg-8 col-lg-offset-2 text-left">
                  <ul>
                    <li>Lab monitor / TA: <a title="LxMLS 2019"
                            href="http://lxmls.it.pt/2019/">2019 Lisbon Machine Learning School (LxMLS 2019)</a>.</li>
                </ul>
              </div>
            </div>
        </div>
    </div>
</section>
